/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
   margin: 0;
   padding: 0;
 }
 
 /* Reiknum stærð á öllum boxum sem border-box */
 html {
   box-sizing: border-box;
 }
 /* og látum erfast á allt */
 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }
 
 /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
 .sr-only:not(:focus):not(:active) {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
 }
 
 /*** Almennt ***/
 
 html,
 input,
 select,
 button {
   font-size: 16px;
   font-family: 'Lora', serif;
 }
 
 a {
   color: inherit;
 }

 h3{
   border-bottom:1px solid black;
 }

 
 h2,
 h3,
 section {
   margin-bottom: 1rem;
 }
 
 img {
   max-width: 100%;
 }
 
 /*** Haus ***/
 
 body > header {
   padding: 1rem;
   
   background-color: #2f0505;
   color: #fff1cf;
 
   text-align: center;
 }
 
 /*** Valmynd ***/
 
 nav {
   margin-bottom: 1rem;
   padding: 1rem;
   border-bottom: #ffe7ae solid 8px;
   background-color: #fff9ee;
   color: #2f0505;
 }
 
 nav ul {
   list-style: none;
   text-align: center;
 }
 
 nav ul li {
   display: inline-block;
   margin-right: 1rem;
 }
 
 /*** Meginmál ***/
 
 main {
   margin: 0 auto;
   padding-left: 1rem;
   padding-right: 1rem;
   max-width: 900px;
 }
 
 /*** Fótur ***/
 
 footer {
   margin-top: 1rem;
   padding: 1rem;
   border-top: 8px solid #ffe7ae;
 
   background-color: #2f0505;
   color: #fff1cf;
 
   text-align: center;
 }
 
 footer > section {
   display: inline-block;
   vertical-align: top;
 }
 
 footer ul {
   list-style: none;
   text-align: center;
 }
 
 /*** Box! ***/
 
 .boxes {
   margin-bottom: 2rem;
   padding-bottom: 1rem;
   
 }
 
 .boxes .box {
   
   background-color: #ffe7ae;
   margin-bottom: 1rem;
   margin-right: 1%;
   width: 48%;
 
   vertical-align: top;
 }
 
 .boxes .box a {
   display: block;
   margin-top: 1rem;
   font-weight: bold;
 }
 
 /*** Opnunartími ***/
 
 dt {
   font-weight: bold;
 }
 
 dd {
   margin-bottom: 1rem;
 }
 
 /*** Matseðill ***/
 
 table {
   margin-bottom: 1rem;
   border-spacing: 0;
 }
 
 table th,
 table td {
   padding: 0.5rem;
 }
 
 table tbody tr:nth-child(2n + 1) {
   background-color: #ffe7ae;
 }
 
 /*** Pöntunarform ***/
 
 fieldset {
   margin-bottom: 1rem;
   padding: 1rem;
 }
 
 fieldset legend {
   font-weight: bold;
 }
 
 fieldset div {
   margin-bottom: 1rem;
 }
 
 fieldset div label {
   display: block;
 }
 
 fieldset input,
 fieldset select,
 fieldset textarea {
   padding: 0.5rem;
 }
 
 fieldset input[type='checkbox'] {
   display: inline-block;
   margin-right: 0.5rem;
 }
 
 form button {
   padding: 0.25rem;
   border-radius: 6px;
 }

 .boxes{
   display: flex;
   flex-wrap: wrap;

 }
 .box{
   flex-basis: 45%;
   padding: 1rem;
   border-radius: 1%;
 }
 fieldset .box{
   border: 1px solid black;
   border-radius: 25px;
 }
img{
   width: 360px;
   height: 450px;
}

fieldset button{
   width: 100%;
   border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-bottom: black solid;
  border-right: black solid;
}
fieldset button:hover{
   border-top: black solid;
   border-left: black solid;
   border-bottom: #ffe7ae solid;
   border-right:  #ffe7ae solid;

}


