@font-face{
    font-family: pokeFont; src: url(pkmn_rbygsc/PKMN\ RBYGSC.ttf);
}
body{
    font-family: pokeFont;
}
#rammi{
    width: 500px;
    height: 500px;
    border: 10px solid lightgray;
    border-radius: 10px;

    background-color: lightgreen;
    display: flex;

    margin: 0 auto;
    margin-top: 60px;
}

#pokemon-info{
    width: 250px;
    height: 500px;
    background-color: lightblue;
    text-align: center;

}

#pokemon-list{
    width: 250px;
    height: 500px;
    background-color: yellow;
    font-size: 15px;
    overflow-y: auto;
}

.pokemon-name{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 5px;

}

#pokemon-info img{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    color: black;
    
}

.type-box{
    border: solid 1px black;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;

}

.fire{
    background-color: red;
}

.water{
    background-color: aqua;
}

.grass{
    background-color: green;
    color: white;
    
}
.normal{
    background-color: beige;
    
}
.flying{
    background-color: skyblue;
    
}
.poison{
    background-color: blueviolet;
    color: white;
}
.ghost{
    background-color: darkslateblue;
}
.steel{
    background-color: silver;
    
}
.dark{
    background-color: darkslategrey;
    color: white;
    
}
.fairy{
    background-color: pink;
    
}
.dragon{
    background-color: blue;
    color: white;
}
.ice{
    background-color: cyan;
}
.rock{
    background-color: brown;
}
.ground{
    background-color: burlywood;
    
}
.electric{
    background-color: yellow;
    
}
.bug{
    background-color: lightgreen;
    
}
.fighting{
    background-color: orange;
    
}
.psychic{
    background-color: palevioletred;
    
}

