/* Reset og border-box á allt */
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  :root {
    --spacing: 1rem;
    --max-width: 56rem;
  
    --font-family: -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  html {
    font-family: var(--font-family);
  }
  
  input,
  select,
  button {
    font-size: inherit;
  }
  
  input[type='number'] {
    padding-inline-start: calc(var(--spacing) / 2);
  }
  
  button {
    padding-inline: calc(var(--spacing) / 2);
  }
  
  h1 {
    font-size: 2rem;
    margin-block-end: var(--spacing);
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  
    margin: var(--spacing) auto;
    padding-inline: var(--spacing);
    max-width: var(--max-width);
  }
  
  /* TODO nánari stílar */